<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--<listener>
        <listener-class>cn.fan.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>cn.fan.MyRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>cn.fan.MySessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>cn.fan.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>-->
    <!--<listener>
        <listener-class>cn.fan.MySessionAttListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>cn.fan.SessionAttributeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>-->
    <!--<servlet>
        <servlet-name>binding</servlet-name>
        <servlet-class>cn.fan.BindingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>binding</servlet-name>
        <url-pattern>/bind</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>active</servlet-name>
        <servlet-class>cn.fan.ActivationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>active</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bean02</servlet-name>
        <servlet-class>cn.fan.Bean02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bean02</servlet-name>
        <url-pattern>/bean02</url-pattern>
    </servlet-mapping>
</web-app>